<% provide(:title, 'Dashboard') %>
<% provide(:active_page, 'announcement') %>
<% content_for :third_level_layout do %>  

	<!-- Statistics -->
	<div id="announcement_statistics" class="container">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Stats for all time</h3>
		  </div>
		  <div class="panel-body">
		    <div class="col-lg-2 text-center ">Announcement Impressions</div>
		    <div id="n_impressions" class="col-lg-2 text-center statistic"><%= @summary['n_impressions'] %></div>
				<div class="col-lg-2 text-center">Announcement Clicks</div>
				<div id="n_clicks" class="col-lg-2 text-center statistic"><%= @summary['n_clicks'] %></div>
				<div class="col-lg-1 text-center">Events Processed</div>
				<div id="n_events" class="col-lg-3 text-center statistic"><%= @summary['n_events'] %></div>				
		  </div>
		</div>
	</div>	

	<!-- Active Announcements -->
	<div class="container">
		<h2>Active Announcements <%= link_to "Create Announcement", new_announcement_path, class: "btn btn-primary btn-sm" %></h2>		
		<table class="table">
			<thead>
				<th>Name</th>
				<th>Type</th>
				<th>Impressions</th>
				<th>Since</th>
				<th>Expires</th>
			</thead>
			<tbody>
				<%= render partial: "announcement", collection: @summary['active_announcements'] %>				
			</tbody>
		</table>
	</div>	
	<br/>

	<!-- Inactive Announcements -->
	<div class="container">
		<h2>Inactive Announcements</h2>
		<table class="table">
			<thead>
				<th>Name</th>
				<th>Type</th>
				<th>Impressions</th>
				<th>Expired</th>
			</thead>
			<tbody>
				<%= render partial: "announcement", collection: @summary['inactive_announcements'] %>
			</tbody>
		</table>
	</div>	


<% end %>
<%= render :template => 'layouts/product' %>
