<!-- Code adapted from: # Plataformatec (2013) Devise [Source code]. https://github.com/plataformatec/devise -->
<% content_for :third_level_layout do %> 
	<%= form_for(resource, :as => resource_name, html: { id: "form-signup" },:url => registration_path(resource_name)) do |f| %>

	  <h2>Create an account</h2>

	  <%= devise_error_messages! %>
	  <%= devise_flash_messages! %>

		<div>
	  	<%= f.email_field :email, class: "form-control", placeholder: "Email Address", :autofocus => true %>
		</div>

		<div>
	  	<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
		</div>

	  <div>
	  	<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
	  </div>

	  <div><%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %></div>
	<% end %>
<% end %> 
<%= render "devise/shared/links" %>
<%= render :template => 'layouts/marketing' %>
