<!-- Code adapted from: # Plataformatec (2013) Devise [Source code]. https://github.com/plataformatec/devise -->
<% content_for :third_level_layout do %> 

	<%= form_for(resource, :as => resource_name, html: { id: "form-signin" }, :url => session_path(resource_name)) do |f| %>

	<h2>Sign in</h2>

	  <%= devise_error_messages! %>
    <%= devise_flash_messages! %>	

  	<div>
  		<%= f.email_field :email, class: "form-control", placeholder: "Email Address", :autofocus => true %>
  	</div>

  	<div>
  		<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  	</div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

  	<div><%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %></div>
  	<p>Don't have an account? <%= render "devise/shared/links" %></p>
	<% end %>

<% end %> 
<%= render :template => 'layouts/marketing' %>
