<% content_for :second_level_layout do %> 

<!-- Static product header navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Announcify</a>
    </div>
    <div class="navbar-collapse collapse">      
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Announcements</a></li>
        <li><a data-toggle="modal" href="#comingSoonModal" href="javascript:void(0);">User Segments</a></li>
        <li><a data-toggle="modal" href="#comingSoonModal" href="javascript:void(0);">Event Log</a></li>
        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>    
</div>

<!-- Product Content -->
<%= content_for?(:third_level_layout) ? yield(:third_level_layout) : yield %>

<!-- coming soon modal -->
<div class="modal fade" id="comingSoonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Coming Soon!</h4>
      </div>
      <div class="modal-body">
        Feature coming soon, watch this space!
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<% end %>
<%= render :template => 'layouts/application' %>